.visitor-profile-pages-visited {
    overflow-y: hidden;
}

.visitor-profile-pages-visited ul li {
    float: left;
    line-height: 45px;
    padding: 0 10px;
    cursor: pointer;
    color: #999;
}

.visitor-profile-pages-visited ul li.active {
    color: #222;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.visitor-profile-chat-global-container {
    border-top: 1px solid #D1CEC8;
    padding: 10px;
}

.visitor-profile-chat-conversation-container {
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    background: white;
    font-size: 12px;
    /*border: 1px solid #D1CEC8;*/
}

.visitor-profile-chat-conversation-container p {
    color: #333 !important;
    padding-right: 150px;
    position: relative;
}

.visitor-profile-chat-conversation-container p > .microtime {
    position: absolute;
    right: 10px;
}

.visitor-profile-chat-conversation-container p.author {
    border-top: 1px dashed #D1CEC8;
    font-weight: bold;
    line-height: 25px;
    margin-top: 10px;
}

.visitor-profile-chat-conversation-container p.author:first-child {
    border-top: 0;
    margin-top: 0;
}

.visitor-profile-chat-conversation-textarea {
    height: 100px;
    width: 100%;
    background: white;
    font-size: 12px;
    border: 1px solid #D1CEC8;
    color: #333;
}

.list-conversations tr.unread td.content {
    font-weight: bold;
}

.new-messages:before {
    background: none repeat scroll 0 0 #D4291F;
    border: 1px solid #D4291F;
    color: #FFFFFF;
    content: " ";
    display: block;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    border-radius: 5px;
    height: 5px;
    width: 5px;
}

.Menu-tabList > li > a, .Menu-tabList > li > ul > li > a {
    position: relative;
}

.Menu-tabList > li > ul > li > a.new-messages:before {
    border-radius: 5px;
    height: 5px;
    right: 10px;
    top: 10px;
    width: 5px;
}

.visitor-personnal-informations {
    border-bottom: 1px solid #D1CEC8;
    padding: 0 10px 15px 25px;
}

.visitor-personnal-informations h1 {
    margin-bottom: 10px;
}

#form-visitor-personnal-informations .col1, #form-visitor-personnal-informations .col2 {
    width: 50%;
    float: left;
}

#form-visitor-personnal-informations .input-text {
    font-size: 13px;
    height: 25px;
    line-height: 17px;
    width: 96%;
    margin-bottom: 10px;
}

#form-visitor-personnal-informations textarea {
    font-size: 13px;
    height: 70px;
    width: 96%;
    margin-bottom: 3px;
}

.clearfix {
    clear: both;
}

.visitor-profile p:last-child{
    padding-bottom: 10px;
}

.disabledInput{
    background: #EEE !important;
    cursor: no-drop;
}

.whats-happening{
    margin-left: 20px;
    font-size: 11px;
    color: #0d0d0d;
}

.bigTitle{
    color: #d4291f;
    display: block;
    font-size: 17px;
    margin-bottom: 30px;
    text-align: center;
}

.chat-module-form input[type='radio']{
    padding: 0px;
    line-height: 10px;
    min-height: 10px;
    margin: 10px 10px 0px 0px;
}

.visitor-profile-info .visitor-profile-visits-info{
    border-left: 0px;
}